#back-nav {
  padding: 1rem 3rem;
  height: 2vh;
}

#back-nav a, #back-nav a:visited {
  color: var(--result-text-color);
  font-weight: bold;
}

#page-content {
  padding: 1rem 6rem;
}

#meeting-attrs span {
  font-style: italic;
}

#meeting-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0rem;
  line-height: 150%;
  font-size: 0.9rem;
}

.meeting-detail {
  display: flex;
  max-width: 100%;
  gap: 1em;
}

.meeting-detail .label {
  width: 7.75ch;
  text-align: right;
  font-weight: bold;
}

#contact-info .info {
  display: inline-flex;
  align-items: first baseline;
  flex-direction: column;
}

.doc-section-title {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.75rem;
}

.doc-section-title a {
  position: relative;
  top: 0.1rem;
}

.DocumentSection {
  padding-top: 1rem;
}

.DocumentSection p {
  line-height: 150%;
}

#cancelled-detail {
  color: var(--cancelled-text-color);
  font-style: italic;
}

#cancelled-time {
  font-weight: bold;
}
