.BodySelect {
  flex-direction: column;
  flex-wrap: nowrap;
  border-width: .15rem 0;
  border-style: solid;
  border-color: var(--dark-blue);
  padding: 0.5rem 0;
  gap: 0.5rem;
  display: flex;
  height: 100%;
  overflow: scroll;
}


.BodySelect label {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  cursor: pointer;
  line-height: 115%;
}

.BodySelect input[type="radio"] {
  opacity: 0;
  width: 0;
}


.BodySelect input[type="radio"]+label .body-name {
  transition: color .25s;
  color: var(--light-blue);
}

.BodySelect input[type="radio"]+label .body-count {
  flex-shrink: 0;
  transition: all .25s;
  background-color: var(--light-blue);
  display: block;
  align-self: center;
  min-width: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
  box-sizing: border-box;
  color: white;
  font-size: 1rem;
  transition: all .2s;
}

#body-select input[type="radio"]:focus-visible+label {
  outline: -webkit-focus-ring-color auto 1px;
}

#body-select input[type="radio"]:checked+label .body-name {
  color: var(--dark-blue);
}

#body-select input[type="radio"]:checked+label .body-count {
  background-color: var(--dark-blue);
}

#body-select input[type="radio"]+label:hover .body-name {
  color: var(--orange);
}

#body-select input[type="radio"]+label:hover .body-count {
  background-color: var(--orange);
}