.BodySelect {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: 50vh;
  overflow: scroll;
  box-shadow: inset 0px 0px 4px rgb(212, 211, 211);
}

.BodySelect > legend {
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.body-option {
  display: flex;
  align-items: baseline;
  gap: 0.15em;
}


.body-option label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.75rem;
}

.body-count {
  display: block;
  align-self: center;
  background-color: var(--light-bg-color);
  min-width: 1.5em;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-radius: 0.7rem;
  font-size: 0.9rem;
}