.DateSelect {
  border: none;
  padding: 0rem 1rem 1rem;
  box-shadow: inset 0px 0px 4px rgb(212, 211, 211);
}

.DateSelect label {
  display: flex;
  line-height: 150%;
  font-weight: bold;
}

.DateSelect label:not(:first-child) {
  padding-top: 1rem;
}