:root {
  --text-accent-color: #006DD2;
  --result-text-color: #2E577C;
  --light-bg-color: #BCE7FF;
  --cancelled-text-color: #AB2424;
  --yellow: #F8E9A1;
  --orange: #F76C6C;
  --sky-blue: #A8D0E6;
  --light-blue: #5770D4;
  --blue: #374785;
  --dark-blue: #24305E;
  --header-height: 15vh
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--dark-blue);
  transition: color .2s
}

a:hover {
  color: var(--orange);
  
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: 'Fira-Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root>header {
  z-index: 1;
  position: fixed;
  height: var(--header-height);
}

 #root > :not(header) {
  position: absolute;
  top: var(--header-height)
} 

/* #root>div {
  margin: 2rem 7% 0rem;
  gap: 5rem;
  height: calc(100%-200px);
  box-sizing: border-box;
} */

/* #root>main {
  overflow-x: auto;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-wrapper {
  flex: 1 0;
}
