:root {
  --text-accent-color: #006DD2;
  --result-text-color: #2E577C;
  --light-bg-color: #BCE7FF;
  --cancelled-text-color: #AB2424;
  --yellow: #F8E9A1;
  --orange: #F76C6C;
  --sky-blue: #A8D0E6;
  --light-blue: #5770D4;
  --blue: #374785;
  --dark-blue: #24305E;
  height: 100%;
}

* {
  margin: 0;
}

a {
  color: var(--dark-blue);
  transition: color .2s
}

a:hover {
  color: var(--orange);
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* use flexboxes so App fills but doesn't overfill viewport */
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fira-Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:stretch;
  align-items: stretch;
}

#root {
  flex-grow: 1;
  min-height: 0;
  /* Avoid setting maxes allows zoom out for large data. */
  /* max-height: 1280px; */
  /* max-width: 1280px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

#root>header {
  padding: 2% 7%;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 5rem;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-items: space-between;
  background-color: var(--dark-blue);
  box-sizing: border-box;
}

#root>div {
  margin: 2rem 7% 0rem;
  gap: 5rem;
  height: calc(100%-200px);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-wrapper {
  flex: 1 0;
}
