.ResultsSection {
  position: fixed;
  top: var(--header-height);
  max-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: stretch;
  width: 100%;
}

.ResultsSection fieldset:not(:first-of-type) {
  margin: 1rem 0;
}

.results {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 0.5rem;
  flex: 1 1 66%;
  padding: 1rem;
  height: calc(100vh - var(--header-height));
  overflow: scroll;
}