.ResultsSection {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  height: 80vh;
}

.ResultsSection>* {
  height: 100%;
}

.ResultsSection legend {
  padding: 1rem 0 0.5rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-accent-color)
}

.ResultsSection fieldset:not(:first-of-type) {
  margin: 1rem 0;
}

.results {
  flex: 3 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  overflow-x: auto;
}