.ResultsSection {
  display: flex;
  gap: 1rem;
  align-items: stretch;
}

.ResultsSection legend {
  padding: 1rem 0 0.5rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-accent-color)
}

.ResultsSection fieldset:not(:first-of-type) {
  margin: 1rem 0;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 3 0;
  padding-top: 1rem;
  overflow: scroll
}